.menubar {
    -fx-font-family: Consolas;
    -fx-pref-height: 25px;
}

.menubar .menu-item > .label {
    -fx-padding: 0 0 0 20px;
}

.menubar .menu-item .accelerator-text {
    -fx-graphic: none;
    -fx-content-display: text-only;
}

.menubar .menu-item.miProgramNew > .label {
    -fx-graphic: url("/images/icons/new_16x16.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miProgramNew > .label {
    -fx-graphic: url("/images/icons/new_16x16.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miProgramOpen > .label {
    -fx-graphic: url("/images/icons/open_16x16.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miProgramSave > .label {
    -fx-graphic: url("/images/icons/save_16x16.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miProgramCompile > .label {
    -fx-graphic: url("/images/icons/compile_pr0_16x16.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miMouseModePlaceObstacle > .label {
    -fx-graphic: url("/images/world/fence.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miMouseModePlaceActor > .label {
    -fx-graphic: url("/images/world/actor_right.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miMouseModePlaceStart > .label {
    -fx-graphic: url("/images/world/start.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miMouseModePlaceItem > .label {
    -fx-graphic: url("/images/world/item.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miMouseModePlaceFree > .label {
    -fx-graphic: url("/images/world/grass_wild.png");
    -fx-padding: 0 0 0 0;
}

.menubar .menu-item.miActorBagChangeContent > .label {
}

.menubar .menu-item.miSimStart > .label {
    -fx-graphic: url("/images/icons/run_16x16.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miSimPause > .label {
    -fx-graphic: url("/images/icons/pause_16x16.png");
    -fx-padding: 0 0 0 0;
}
.menubar .menu-item.miSimStop > .label {
    -fx-graphic: url("/images/icons/stop_16x16.png");
    -fx-padding: 0 0 0 0;
}

.toolbar {
    -fx-pref-height: 60px;
    -fx-pref-width: 800px;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #888;
}


.btn {
    -fx-pref-height: 40px;
    -fx-pref-width: 50px;

    -fx-content-display: graphic-only;
    -fx-text-fill: red;
    -fx-font: bold 14pt "Consolas";
    -fx-padding: 16px 0 0 0;

    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-color: #CCC;
}
.btn:selected {
    -fx-background-color: #888;
}
.btn:hover {
    -fx-background-color: #AAA;
}
.btn:disabled {
    -fx-background-color: rgba(0,0,0,0);
}

.btn-new {
    -fx-background-image: url("/images/icons/new.png");
}
.btn-open {
    -fx-background-image: url("/images/icons/open.png");
}
.btn-save {
    -fx-background-image: url("/images/icons/save.png");
}

.btn-compile {
    -fx-background-image: url("/images/icons/compile_pr0.png");
}

.btn-obstacle {
    -fx-background-image: url("/images/world/fence.png");
}
.btn-actor {
    -fx-background-image: url("/images/world/actor_right.png");
}
.btn-start {
    -fx-background-image: url("/images/world/start.png");
}
.btn-item {
    -fx-background-image: url("/images/world/item.png");
}
.btn-remove {
    -fx-background-image: url("/images/world/grass_wild.png");
}

.btn-pocket {
    -fx-background-image: url("/images/world/item.png");
    -fx-content-display: center;
}

.btn-run {
    -fx-background-image: url("/images/icons/run.png");
}
.btn-pause {
    -fx-background-image: url("/images/icons/pause.png");
}
.btn-stop {
    -fx-background-image: url("/images/icons/stop.png");
}

.sliderSimSpeedLabel {
    -fx-content-display: text-only;
    -fx-alignment: center;
    -fx-padding: 5px 0 0 10px;
}
.sliderSimSpeed {
    -fx-font: bold 14pt "Consolas";
}

.btn-music {
    -fx-background-image: url("/images/icons/volume_mute.png");
}