.program {
    -fx-font-family: Consolas;
    -fx-pref-height: 600px;
    -fx-pref-width: 600px;
}

/* program is saved (default state) */
.program:saved .content {
    -fx-background-color: #e6e6ff;
}

/* program is saved and compiled // custom boolean property on model class Editor */
.program:compiled .content {
    -fx-background-color: #e6ffe6;
}

/* program is dirty // custom boolean property on model class Editor */
.program:dirty .content {
    -fx-background-color: #ffe6e6;
}
