.root {
    -fx-pref-height: 685px;
    -fx-pref-width: 1000px;
}

.status-bar {
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
}

.status-text {
    -fx-content-display: text-only;
    -fx-alignment: center-left;
    -fx-padding: 4 0 0 5px;
}
