.root {
    -fx-pref-height: 685px;
    -fx-pref-width: 1000px;
}

.statusbar {
    -fx-pref-height: 25px;
    -fx-max-height: 25px;
}

.label-status{
    -fx-padding: 0 0 0 10px;
    -fx-alignment: center-left;
    -fx-content-display: text-only;
}

.status-text {
    -fx-padding: 0 0 0 5px;
    -fx-alignment: center-left;
    -fx-content-display: text-only;
    -fx-text-fill: red;
}
