.toolbar {
    -fx-pref-height: 60px;
    -fx-pref-width: 800px;
}

.separator {
    -fx-pref-height: 20px;
}

.btn {
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-content-display: graphic-only;
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.btn-new {
    -fx-background-image: url("../../../../images/icons/new.png");
}
.btn-open {
    -fx-background-image: url("../../../../images/icons/open.png");
}
.btn-save {
    -fx-background-image: url("../../../../images/icons/save.png");
}

.btn-compile {
    -fx-background-image: url("../../../../images/icons/compile_pr0.png");
}

.btn-obstacle {
    -fx-background-image: url("../../../../images/world/debug/wall.png");
}
.btn-actor {
    -fx-background-image: url("../../../../images/world/debug/karl_right.png");
}
.btn-start {
    -fx-background-image: url("../../../../images/world/debug/office.png");
}
.btn-item {
    -fx-background-image: url("../../../../images/world/debug/item.png");
}
.btn-remove {
    -fx-background-image: url("../../../../images/world/debug/ground.png");
}

.btn-pocket {
    -fx-content-display: text-only;
}

.btn-run {
    -fx-background-image: url("../../../../images/icons/run.png");
}
.btn-pause {
    -fx-background-image: url("../../../../images/icons/pause.png");
}
.btn-stop {
    -fx-background-image: url("../../../../images/icons/stop.png");
}

.sliderSimSpeedLabel {
    -fx-content-display: text-only;
    -fx-alignment: center;
    -fx-padding: 5px 0 0 10px;
}